/* .logo {
  width: 128px;
} */

.center{
  text-align: center;
}
.hrmoyen{
  width: 50%;
}

/* @media only screen
and (min-width : 1224px) {
#carteMap{
  width: 500px;
  height: 500px;
  border-radius: 5px;
  }
} */
/* @media only screen
and (max-width : 320px) {
   #carteMap{
    width:300px; height:600px;
    }
} */

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 100px;
}

#carteMap {
  width: 100%;
  height: 400px;
}

#footer-text{
  color:white;
}
.navfooter{
  margin-top: 50px;
}

h1 {
  color: #00B2CC;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #F59000;
  margin-top: 50px;
}

h3 {
  color: #B2579D;
  margin-top: 20px;
}

li {
  list-style-type: none;
}

footer {
  margin-top: 100px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .active > .nav-link {
  color: #00B2CC;
}

.fa-facebook-square {
  color: #3B5998;
  font-size: 64px;
}

.fa-youtube {
  color: #BB0000;
  font-size: 64px;
}

.contentcenter {
  margin-left: auto;
  margin-right:auto;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}

.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}
