.logo {
  width: 128px;
}
<<<<<<< HEAD
.center{
  text-align: center;
}
.hrmoyen{
  width: 50%;
}
#Objectif{
  text-align: center;
}
#Rythme{
  text-align: center;
}
=======
>>>>>>> 56fa897c750a5d41c1f7d7e95a4fa2933ec2d1cd
